<h1>LES PRODUITS STREET TRIBE</h1>

<h3>Cr&egrave;me de D&eacute;finition </h3>

Prenez le contr&ocirc;le ! Texture l&eacute;g&egrave;re et brillance naturelle &agrave; formule antistatique.<br />
Parfaite pour contr&ocirc;ler ses cheveux.<br /><br />
<b>Astuce:</b> A associer aux autres produits Street Tribe pour r&eacute;duire leur degr&eacute; de contr&ocirc;le.
<br /><br /><br /><br /><br />
<div align="center">
<%= link_to image_tag("Pate Texturisante.gif", :border => 0), :t => 'pate' %>
<%= link_to image_tag("Creme de Definition.gif", :border => 0), :t => 'creme' %>
<%= link_to image_tag("Souffle Structurant.gif", :border => 0), :t => 'souffle' %>
<%= link_to image_tag("Pommade Polissante.gif", :border => 0), :t => 'pommade' %>
<%= link_to image_tag("Mastic a Modeler.gif", :border => 0), :t => 'mastic' %>
</div>