<h1>LES PRODUITS STREET TRIBE</h1>

<h3>D&eacute;couvrez les 5 produits h&eacute;ros de la gamme.</h3>

Cliquez sur un produit pour conna&icirc;tre ses caract&eacute;ristiques.
<br /><br /><br /><br /><br /><br /><br /><br />
<div align="center">
<%= link_to image_tag("Pate Texturisante.gif", :border => 0), :t => 'pate' %>
<%= link_to image_tag("Creme de Definition.gif", :border => 0), :t => 'creme' %>
<%= link_to image_tag("Souffle Structurant.gif", :border => 0), :t => 'souffle' %>
<%= link_to image_tag("Pommade Polissante.gif", :border => 0), :t => 'pommade' %>
<%= link_to image_tag("Mastic a Modeler.gif", :border => 0), :t => 'mastic' %>
</div>