<h1>LES PRODUITS STREET TRIBE</h1>

<h3>Mastic &agrave; Modeler</h3>

Modelez, Remodelez, Recommencez ! Texture et contr&ocirc;le exceptionnels - brillance naturelle. <br />
S&eacute;paration et d&eacute;finition durables.<br /><br />
<b>Astuce:</b> Peut &ecirc;tre facilement m&eacute;lang&eacute; &agrave; la Cr&egrave;me de D&eacute;finition pour lui donner une<br />
texture plus onctueuse ou &agrave; la Pommade Polissante pour obtenir une cire b&eacute;ton.
<br /><br /><br /><br />
<div align="center">
<%= link_to image_tag("Pate Texturisante.gif", :border => 0), :t => 'pate' %>
<%= link_to image_tag("Creme de Definition.gif", :border => 0), :t => 'creme' %>
<%= link_to image_tag("Souffle Structurant.gif", :border => 0), :t => 'souffle' %>
<%= link_to image_tag("Pommade Polissante.gif", :border => 0), :t => 'pommade' %>
<%= link_to image_tag("Mastic a Modeler.gif", :border => 0), :t => 'mastic' %>
</div>