<h1>LES PRODUITS STREET TRIBE</h1>

<h3>P&acirc;te Texturisante</h3>

D&eacute;coiffez vous ! Excellente texture et s&eacute;paration - effet mat garanti.<br />
Id&eacute;ale pour un effet coiff&eacute;-d&eacute;coiff&eacute; durable.<br /><br />
<b>Astuce:</b> M&eacute;langer &agrave; la Cr&egrave;me de D&eacute;finition pour un contr&ocirc;le plus l&eacute;ger.<br />
A utiliser avec tous les autres produits Street Tribe pour matifier.<br />
<br /><br /><br />
<div align="center">
<%= link_to image_tag("Pate Texturisante.gif", :border => 0), :t => 'pate' %>
<%= link_to image_tag("Creme de Definition.gif", :border => 0), :t => 'creme' %>
<%= link_to image_tag("Souffle Structurant.gif", :border => 0), :t => 'souffle' %>
<%= link_to image_tag("Pommade Polissante.gif", :border => 0), :t => 'pommade' %>
<%= link_to image_tag("Mastic a Modeler.gif", :border => 0), :t => 'mastic' %>
</div>