<h1>LES PRODUITS STREET TRIBE</h1>

<h3>Pommade Polissante</h3>

Eclatez-vous ! Texture et contr&ocirc;le exceptionnels, brillance naturelle.<br />
Id&eacute;ale pour un effet mouill&eacute; longue dur&eacute;e.<br /><br />
<b>Astuce:</b> Lisser en arri&egrave;re pour un look classique.
<br /><br /><br /><br /><br />
<div align="center">
<%= link_to image_tag("Pate Texturisante.gif", :border => 0), :t => 'pate' %>
<%= link_to image_tag("Creme de Definition.gif", :border => 0), :t => 'creme' %>
<%= link_to image_tag("Souffle Structurant.gif", :border => 0), :t => 'souffle' %>
<%= link_to image_tag("Pommade Polissante.gif", :border => 0), :t => 'pommade' %>
<%= link_to image_tag("Mastic a Modeler.gif", :border => 0), :t => 'mastic' %>
</div>