<h1>LES PRODUITS STREET TRIBE</h1>

<h3>Souffl&eacute; Structurant</h3>

Prenez un peu d'air ! Contr&ocirc;le extr&egrave;me et texture a&eacute;rienne.<br />
Parfait pour apporter un effet mat en finition.<br /><br />
<b>Astuce:</b> Pour un contr&ocirc;le plus l&eacute;ger, m&eacute;langer &agrave; la Cr&egrave;me de D&eacute;finition.<br />
Pour plus de brillance, m&eacute;langer &agrave; la Pommade Polissante.<br />
<br /><br /><br />
<div align="center">
<%= link_to image_tag("Pate Texturisante.gif", :border => 0), :t => 'pate' %>
<%= link_to image_tag("Creme de Definition.gif", :border => 0), :t => 'creme' %>
<%= link_to image_tag("Souffle Structurant.gif", :border => 0), :t => 'souffle' %>
<%= link_to image_tag("Pommade Polissante.gif", :border => 0), :t => 'pommade' %>
<%= link_to image_tag("Mastic a Modeler.gif", :border => 0), :t => 'mastic' %>
</div>